@import "tailwindcss";

:root {
  --textoPrincipal: #ffff;
  --fundo: #18181b;
}

@layer base {
  * {
    color: var(--textoPrincipal);
  }

  body {
    background-color: var(--fundo);
  }
}

@layer components {
  .skillCards {
    @apply bg-zinc-800 p-8 rounded-xl border border-zinc-700;
  }

  .projectCards {
    @apply bg-zinc-800 flex flex-col space-y-5 rounded-xl border border-zinc-700;
  }

  .linguagens {
    @apply bg-[#3F3F46] h-6 w-15 justify-center rounded-4xl flex items-center;
  }
}
