@import "tailwindcss";

:root {
  --textoPrincipal: #ffff;
  --fundo: #18181b;
}

@layer base {
  * {
    color: var(--textoPrincipal);
  }

  body {
    background-color: var(--fundo);
  }
}

@layer components {
  .skillCards {
    @apply bg-zinc-800 p-8 rounded-xl border border-zinc-700;
  }
}
