@import "tailwindcss";

:root {
  --textoPrincipal: #ffff;
  --fundo: #18181b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    color: var(--textoPrincipal);
  }

  body {
    background-color: var(--fundo);
  }
}

@layer components {
  .skillCards {
    @apply rounded-xl border border-zinc-700 bg-zinc-800 p-8;
  }

  .projectCards {
    @apply flex flex-col space-y-5 rounded-xl border border-zinc-700 bg-zinc-800;
  }

  .linguagens {
    @apply flex h-6 w-15 items-center justify-center rounded-4xl bg-[#3F3F46];
  }
}
